header {
  background-color: #009dca;
  text-align: center;
  font-weight: bolder;
  color: white;
}


.not-current-player {
  opacity: 50%;
}

.roundedCorner
{
  border: solid 1px #555;
  box-shadow: 10px -10px 5px  rgba(0,0,0,0.6);
  -moz-box-shadow: 10px -10px 5px  rgba(0,0,0,0.6);
  -webkit-box-shadow: 10px -10px 5px  rgba(0,0,0,0.6);
  -o-box-shadow: 10px -10px 5px  rgba(0,0,0,0.6);
  border-radius:25px;
}

.playerBox {
  border-radius: 10px;
  box-shadow: 25px 25px 50px #1b1c1b, -25px -25px 50px #2d302f;

}

.somePadding {
  padding-top: 10px;
  padding-bottom: 10px;
}
