<header>
  <h1 class="somePadding">
    MACHI KORO
  </h1>
</header>

<div style="text-align:center">

  <div *ngIf="!started" class="somePadding">
    <button class="btn btn-light" *ngIf="!started" (click)="startGame()">Start Game</button>
  </div>
  <div class="somePadding">
    <button class="btn btn-light" *ngIf="started && !game.currentPlayer.npc && game.step == 'buy'" (click)="endTurn()">Next</button>
    <button class="btn btn-light" *ngIf="started && !game.currentPlayer.npc && (game.step === 'roll' || game.step === 'confirm')" (click)="rollSingleDie()">Roll Single Die</button>
    <button class="btn btn-light" *ngIf="started && !game.currentPlayer.npc && (game.step === 'roll' || game.step === 'confirm') && game.currentPlayer.hasTrainStation" (click)="rollTwoDice()">Roll Two Dice</button>
    <button class="btn btn-light" *ngIf="started && !game.currentPlayer.npc && game.step === 'confirm'" (click)="confirmRoll()">Accept Roll</button>
    <button class="btn btn-light" *ngIf="started && !game.currentPlayer.npc && game.step === 'steal' && game.currentPlayerNumber !== 1" (click)="steal(1)">Steal From Player 1</button>
    <button class="btn btn-light" *ngIf="started && !game.currentPlayer.npc && game.step === 'steal' && game.currentPlayerNumber !== 2" (click)="steal(2)">Steal From Player 2</button>
    <button class="btn btn-light" *ngIf="started && !game.currentPlayer.npc && game.step === 'steal' && game.currentPlayerNumber !== 3" (click)="steal(3)">Steal From Player 3</button>

    <button class="btn btn-light" *ngIf="started && game.currentPlayer.npc && game.step != 'won'" (click)="npcMove()">Next</button>
  </div>

  <div class="instructions m-3" *ngIf="!started">Click start to begin</div>
  <div class="instructions m-3" *ngIf="started && game.step === 'roll' && !game.currentPlayer.npc && !game.currentPlayer.hasTrainStation">Player {{game.currentPlayerNumber}} please roll the die.</div>
  <div class="instructions m-3" *ngIf="started && game.step === 'roll' && !game.currentPlayer.npc && game.currentPlayer.hasTrainStation">Player {{game.currentPlayerNumber}} please roll one or two dice.</div>
  <div class="instructions m-3" *ngIf="started && game.step === 'buy' && !game.currentPlayer.npc && game.currentPlayer.coins > 0">Player {{game.currentPlayerNumber}} please select an item to purchase or click "Next" to end your turn.</div>
  <div class="instructions m-3" *ngIf="started && game.step === 'buy' && !game.currentPlayer.npc && game.currentPlayer.coins === 0">Player {{game.currentPlayerNumber}} you have no money, please select "Next" to end your turn.</div>
  <div class="instructions m-3" *ngIf="started && game.step === 'confirm' && !game.currentPlayer.npc">Player {{game.currentPlayerNumber}} please accept your roll or choose to re-roll.</div>
  <div class="instructions m-3" *ngIf="started && game.step === 'steal' && !game.currentPlayer.npc">Player {{game.currentPlayerNumber}} please select a player to steal 5 coins from.</div>
  <div class="instructions m-3" *ngIf="started && game.step === 'won' && game.currentPlayer.hasWon">Player {{game.currentPlayerNumber}} has won the game!</div>

  <div class="instructions m-3" *ngIf="started && game.currentPlayer.npc && game.step === 'roll'">Click Next to have Player {{game.currentPlayerNumber}} roll.</div>
  <div class="instructions m-3" *ngIf="started && game.currentPlayer.npc && game.step === 'buy'">Click Next to have Player {{game.currentPlayerNumber}} make a purchase or end their turn.</div>
  <div class="instructions m-3" *ngIf="started && game.currentPlayer.npc && game.step === 'confirm'">Click Next to have Player {{game.currentPlayerNumber}} confirm the roll.</div>
  <div class="instructions m-3" *ngIf="started && game.currentPlayer.npc && game.step === 'steal'">Click Next to have Player {{game.currentPlayerNumber}} steal.</div>

  <app-dice class="m-3 somePadding" *ngIf="started" [currentlyRolling]="currentlyRolling" [recentRoll]="game.recentRoll"></app-dice>

  <div *ngIf="started" class="row">
    <div class="col-sm playerBox p-2 m-3" [ngClass]="{'not-current-player': game.currentPlayerNumber!==1}">
      <app-player *ngIf="started" [player]=game.player1 [prevPlayer]=prevGame.player1></app-player>
    </div>
    <div class="col-sm playerBox p-2 m-3" [ngClass]="{'not-current-player': game.currentPlayerNumber!==2}">
      <app-player *ngIf="started" [player]=game.player2 [prevPlayer]=prevGame.player2></app-player>
    </div>
    <div class="col-sm playerBox p-2 m-3" [ngClass]="{'not-current-player': game.currentPlayerNumber!==3}">
      <app-player *ngIf="started" [player]=game.player3 [prevPlayer]=prevGame.player3></app-player>
    </div>
  </div>

  <div class="m-3 somePadding">
      <button *ngIf="started && game.step === 'buy' && !game.currentPlayer.hasTrainStation" class="btn btn-light"  (click)="purchaseLandmark(landmarks[0])" title="{{landmarks[0].description}} Costs {{landmarks[0].cost}}.">Purchase {{landmarks[0].name}}</button>
      <button *ngIf="started && game.step === 'buy' && !game.currentPlayer.hasShoppingMall" class="btn btn-light" (click)="purchaseLandmark(landmarks[1])" title="{{landmarks[1].description}} Costs {{landmarks[1].cost}}.">Purchase {{landmarks[1].name}}</button>
      <button *ngIf="started && game.step === 'buy' && !game.currentPlayer.hasAmusementPark" class="btn btn-light" (click)="purchaseLandmark(landmarks[2])" title="{{landmarks[2].description}} Costs {{landmarks[2].cost}}">Purchase {{landmarks[2].name}}</button>
      <button *ngIf="started && game.step === 'buy' && !game.currentPlayer.hasRadioTower" class="btn btn-light" (click)="purchaseLandmark(landmarks[3])" title="{{landmarks[3].description}} Costs {{landmarks[3].cost}}">Purchase {{landmarks[3].name}}</button>
  </div>

  <app-inventory *ngIf="started" [stock]=game.stock></app-inventory>


<router-outlet></router-outlet>
