<div class="coin">
  <div *ngIf="player.coins!=prevPlayer.coins"><img src="../assets/images/coinHighlighted.png"></div>
  <div *ngIf="player.coins==prevPlayer.coins"><img src="../assets/images/coin.png"></div>
  <div class="coinAmount">{{player.coins}}</div>
</div>
<br>
<div>

<div *ngIf="player">
<div><h5>Player {{player.playerNumber}}</h5></div>

<div class="playerContents">
<div class="landmarks">
<table>
  <thead>
  <tr>
    <th>Landmarks</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td><input type="checkbox" onclick="return false;" [checked]="player.hasTrainStation"> Train Station</td>
  </tr>
  <tr>
    <td><input type="checkbox" onclick="return false;" [checked]="player.hasShoppingMall"> Shopping Mall</td>
  </tr>
  <tr>
    <td><input type="checkbox" onclick="return false;" [checked]="player.hasAmusementPark"> Amusement Park</td>
  </tr>
  <tr>
    <td><input type="checkbox" onclick="return false;" [checked]="player.hasRadioTower"> Radio Tower</td>
  </tr>
  </tbody>
</table>
</div>

  <div class="stock">
<table>
  <thead>
    <tr>
      <th>Card</th>
      <th>Stock</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let card of cards | async" [ngClass]="{'newStock': prevPlayer.stock[card['index']]!= player.stock[card['index']]}">
      <td *ngIf="player.stock[card['index']]">{{card["card"]}}</td>
      <td *ngIf="player.stock[card['index']]">{{player.stock[card["index"]]}}</td>
    </tr>
  </tbody>
</table>
    </div>
</div>
</div>
