.playerContents
{ margin-left:10px; margin-right:10px; }

.coin {
  position: relative;
  float: right;
}

.coinAmount {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate( -50%, -50% );
  text-align: center;
}

.landmarks, .stock {
  text-align: left;
  padding-top: 10px;
}

.stock {
  padding-bottom: 10px;
}

td, th {
  padding: 10px;
}

.newStock {
  outline: thin solid;
}

