<table *ngIf="stock && cards" class="table table-hover">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">Roll</th>
      <th scope="col">Card</th>
      <th scope="col">Result</th>
      <th scope="col">Cost</th>
      <th scope="col">Inventory #</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let card of cards | async" (click)="purchaseCard(card)">
      <td class="machi-{{card['type']}}">
        <img src="../assets/images/{{card[&quot;symbol&quot;]}}.png" alt="{{card[&quot;symbol&quot;]}}">
      </td>
      <td *ngFor="let col of columns">
        {{card[col]}}
      </td>
      <td>
        {{stock[card["index"]]}}
      </td>
    </tr>
  </tbody>
</table>
